[submodule "LorentzNet-release"]
	path = LorentzNet-release
	url = git@github.com:sdogsq/LorentzNet-release.git
[submodule "lorentz_net"]
	path = lorentz_net
	url = git@github.com:sdogsq/LorentzNet-release.git
